<body>
  <div id="topbar">
    <div id="title">Contact</div>
    <div id="leftnav">
      <%= link_to image_tag("iphone_nav/home.png", :alt => "Accueil"), :controller =>"home" %>
    </div>
  </div>
  <div id="content">
<%= render 'form' %>
  </div>
</body>



